@import "tailwindcss";
@keyframes swing {
  0% { transform: rotate(-2deg); }
  50% { transform: rotate(2deg); }
  100% { transform: rotate(-2deg); }
}

.animate-swing {
  animation: swing 3s ease-in-out infinite;
  transform-origin: center bottom;
}
